trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'windows-latest'

variables:
  buildPlatform: 'x64'
  solution: 'Rhino.Inside.AutoCAD.sln'
  installerProject: 'src/Rhino.Inside.AutoCAD.Installer/Rhino.Inside.AutoCAD.Installer.wixproj'
  GITHUB_REPO: 'mcneel/rhino.inside-autocad'

stages:
- stage: Build
  displayName: 'Build and Release'
  jobs:
  - job: Build
    displayName: 'Build'
    steps:

    # ---------------------------------------
    # Install .NET SDK
    # ---------------------------------------
    - task: UseDotNet@2
      displayName: 'Install .NET SDK 8.x'
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    # ---------------------------------------
    # Restore all SDK-style projects
    # ---------------------------------------
    - task: DotNetCoreCLI@2
      displayName: 'Restore Solution'
      inputs:
        command: 'restore'
        projects: '$(solution)'

    # ---------------------------------------
    # Build solution EXCLUDING WiX project
    # ---------------------------------------
    - task: VSBuild@1
      displayName: 'Build Solution (Release - net48)'
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: 'Release'
        msbuildArchitecture: 'x64'
        restoreNugetPackages: false
        msbuildArgs: >
          /p:BuildInstaller=false

    - task: VSBuild@1
      displayName: 'Build Solution (ReleaseNET8)'
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: 'ReleaseNET8'
        msbuildArchitecture: 'x64'
        restoreNugetPackages: false
        msbuildArgs: >
          /p:BuildInstaller=false

    # ---------------------------------------
    # Restore WiX project (CRITICAL STEP)
    # ---------------------------------------
    - task: VSBuild@1
      displayName: 'Restore WiX Installer'
      inputs:
        solution: '$(installerProject)'
        platform: '$(buildPlatform)'
        configuration: 'ReleaseNET8'
        msbuildArchitecture: 'x64'
        restoreNugetPackages: true
        msbuildArgs: '/t:Restore'

    # ---------------------------------------
    # Build WiX installer
    # ---------------------------------------
    - task: VSBuild@1
      displayName: 'Build WiX Installer'
      inputs:
        solution: '$(installerProject)'
        platform: '$(buildPlatform)'
        configuration: 'ReleaseNET8'
        msbuildArchitecture: 'x64'
        restoreNugetPackages: false

    # ---------------------------------------
    # Copy MSI
    # ---------------------------------------
    - task: CopyFiles@2
      displayName: 'Copy MSI to Staging'
      inputs:
        SourceFolder: 'src/Rhino.Inside.AutoCAD.Installer/bin/x64/ReleaseNET8/en-US'
        Contents: '*.msi'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    # ---------------------------------------
    # Publish artifact
    # ---------------------------------------
    - task: PublishBuildArtifacts@1
      displayName: 'Publish MSI Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'installer'
        publishLocation: 'Container'
