trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'windows-latest'

variables:
  buildPlatform: 'x64'
  solution: 'Rhino.Inside.AutoCAD.sln'
  GITHUB_REPO: 'mcneel/rhino.inside-autocad'
  installerProject: 'src/Rhino.Inside.AutoCAD.Installer/Rhino.Inside.AutoCAD.Installer.wixproj'

stages:
- stage: Build
  displayName: 'Build and Release'
  jobs:
  - job: Build
    displayName: 'Build'
    steps:
    - task: NuGetToolInstaller@1
      displayName: 'Install NuGet'
      inputs:
        versionSpec: '6.11.x'

    - task: UseDotNet@2
      displayName: 'Install .NET SDK 8.x'
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    # 0. EXTRACT VERSION
    - task: PowerShell@2
      displayName: 'Extract Version'
      inputs:
        targetType: 'inline'
        script: |
          $content = Get-Content "Directory.Build.props" -Raw
          if ($content -match '<AssemblyVersion>([^<]+)</AssemblyVersion>') {
            $version = $Matches[1].Trim()
            Write-Host "Version: $version"
            Write-Host "##vso[task.setvariable variable=AppVersion]$version"
          } else {
            Write-Error "Could not find AssemblyVersion in Directory.Build.props"
            exit 1
          }

    # 1. REMOVE INSTALLER PROJECT FROM SOLUTION
    - task: PowerShell@2
      displayName: 'Remove Installer Project from Solution'
      inputs:
        targetType: 'inline'
        script: |
          dotnet sln "$(solution)" remove "$(installerProject)"

    # 2. BUILD RELEASE (NET48)
    - task: VSBuild@1
      displayName: 'Build Solution (Release - net48)'
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: 'Release'
        msbuildArchitecture: 'x64'
        msbuildArgs: '/restore /m'

    # 3. STAGE FILES FOR WIX
    - task: PowerShell@2
      displayName: 'Stage Files for Installer'
      inputs:
        targetType: 'inline'
        script: |
          $version = "$(AppVersion)"
          $stagePath = "D:\a\1\s\Deployment\OutputFiles\Rhino.Inside.AutoCAD.$version"
          $net48Path = "src/Rhino.Inside.AutoCAD.GrasshopperLibrary/bin/Release/net48"
          
          # Create Directory Structure
          New-Item -ItemType Directory -Force -Path "$stagePath\Icons\Large512"
          New-Item -ItemType Directory -Force -Path "$stagePath\Icons\Small32"
          New-Item -ItemType Directory -Force -Path "$stagePath\Toolbar"
          New-Item -ItemType Directory -Force -Path "$stagePath\$version\Win64\NET48"
          New-Item -ItemType Directory -Force -Path "$stagePath\$version\Win64\NET8"

          # Copy Assets
          Copy-Item "src/Rhino.Inside.AutoCAD.Installer/Icons/*" "$stagePath\Icons\" -Recurse -Force -ErrorAction SilentlyContinue
          Copy-Item "src/Rhino.Inside.AutoCAD.Installer/Toolbar/RhinoInsideAutocad_Toolbar.cuix" "$stagePath\Toolbar\" -Force -ErrorAction SilentlyContinue
          Copy-Item "src/Rhino.Inside.AutoCAD.Installer/PackageContents.xml" "$stagePath\" -Force

          # Copy NET48 DLLs
          Copy-Item "$net48Path/*.dll" "$stagePath\$version\Win64\NET48\" -Force

    # 4. ADD INSTALLER PROJECT BACK TO SOLUTION
    - task: PowerShell@2
      displayName: 'Add Installer Project back to Solution'
      inputs:
        targetType: 'inline'
        script: |
          dotnet sln "$(solution)" add "$(installerProject)"

    # 5. BUILD RELEASENET8 + INSTALLER
    - task: VSBuild@1
      displayName: 'Build Solution (ReleaseNET8 + Installer)'
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: 'ReleaseNET8'
        msbuildArchitecture: 'x64'
        msbuildArgs: '/restore /m'

    # 6. COPY MSI TO STAGING
    - task: CopyFiles@2
      displayName: 'Copy MSI to Staging'
      inputs:
        SourceFolder: 'src/Rhino.Inside.AutoCAD.Installer/bin/x64/ReleaseNET8/en-US'
        Contents: '**.msi'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        flattenFolders: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish MSI Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'installer'

    # 7. GITHUB RELEASE
    - task: PowerShell@2
      displayName: 'Create GitHub Release'
      inputs:
        targetType: 'inline'
        script: |
          $version = "$(AppVersion)"
          $msiFile = Get-ChildItem "$(Build.ArtifactStagingDirectory)/*.msi" | Select-Object -First 1
          if (-not $msiFile) { throw "MSI not found!" }
          
          $headers = @{"Authorization" = "token $(GITHUB_PAT)"; "Accept" = "application/vnd.github.v3+json"}
          $releaseBody = @{
            tag_name = "v$version"
            target_commitish = "master"
            name = "Release v$version"
            body = "Automated build $(Build.BuildId)"
          } | ConvertTo-Json
          
          $release = Invoke-RestMethod -Uri "https://api.github.com/repos/$(GITHUB_REPO)/releases" -Headers $headers -Method Post -Body $releaseBody -ContentType "application/json"
          $uploadUri = ($release.upload_url -replace '\{\?name,label\}', '') + "?name=$([Uri]::EscapeDataString($msiFile.Name))"
          
          Invoke-RestMethod -Uri $uploadUri -Headers @{"Authorization" = "token $(GITHUB_PAT)"; "Content-Type" = "application/octet-stream"} -Method Post -InFile $msiFile.FullName