trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'windows-latest'

variables:
  buildPlatform: 'x64'
  solution: 'Rhino.Inside.AutoCAD.sln'
  installerProject: 'src/Rhino.Inside.AutoCAD.Installer/Rhino.Inside.AutoCAD.Installer.wixproj'
  GITHUB_REPO: 'mcneel/rhino.inside-autocad'

stages:
- stage: Build
  displayName: 'Build and Release'
  jobs:
  - job: Build
    displayName: 'Build'
    steps:

    # ---------------------------------------
    # Install supported .NET SDK
    # ---------------------------------------
    - task: UseDotNet@2
      displayName: 'Install .NET SDK 8.x'
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    # ---------------------------------------
    # Restore solution (SDK-style projects)
    # ---------------------------------------
    - task: DotNetCoreCLI@2
      displayName: 'Restore Solution'
      inputs:
        command: 'restore'
        projects: '$(solution)'

    # ---------------------------------------
    # Build net48 configuration
    # ---------------------------------------
    - task: VSBuild@1
      displayName: 'Build Solution (Release - NET4.8)'
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: 'Release'
        msbuildArchitecture: 'x64'
        restoreNugetPackages: false

    # ---------------------------------------
    # Build net8 configuration
    # ---------------------------------------
    - task: VSBuild@1
      displayName: 'Build Solution (ReleaseNET8)'
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: 'ReleaseNET8'
        msbuildArchitecture: 'x64'
        restoreNugetPackages: false

    # ---------------------------------------
    # Restore WiX installer (REQUIRED)
    # ---------------------------------------
    - task: VSBuild@1
      displayName: 'Restore WiX Installer (MSBuild)'
      inputs:
        solution: '$(installerProject)'
        platform: '$(buildPlatform)'
        configuration: 'ReleaseNET8'
        msbuildArchitecture: 'x64'
        restoreNugetPackages: true
        msbuildArgs: '/t:Restore'

    # ---------------------------------------
    # Build WiX installer
    # ---------------------------------------
    - task: VSBuild@1
      displayName: 'Build Installer (ReleaseNET8)'
      inputs:
        solution: '$(installerProject)'
        platform: '$(buildPlatform)'
        configuration: 'ReleaseNET8'
        msbuildArchitecture: 'x64'
        restoreNugetPackages: false

    # ---------------------------------------
    # Copy MSI to staging
    # ---------------------------------------
    - task: CopyFiles@2
      displayName: 'Copy MSI to Staging'
      inputs:
        SourceFolder: 'src/Rhino.Inside.AutoCAD.Installer/bin/x64/ReleaseNET8/en-US'
        Contents: '*.msi'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    # ---------------------------------------
    # Publish MSI artifact
    # ---------------------------------------
    - task: PublishBuildArtifacts@1
      displayName: 'Publish MSI Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'installer'
        publishLocation: 'Container'

    # ---------------------------------------
    # Create GitHub Release
    # ---------------------------------------
    - task: PowerShell@2
      displayName: 'Create GitHub Release'
      inputs:
        targetType: 'inline'
        script: |
          $msiFile = Get-ChildItem "$(Build.ArtifactStagingDirectory)/*.msi" | Select-Object -First 1
          $msiName = $msiFile.Name

          if ($msiName -match 'V(\d+\.\d+\.\d+)') {
            $version = "v$($Matches[1])"
          } else {
            $version = "v$(Get-Date -Format 'yyyy.MM.dd')-build$(Build.BuildId)"
          }

          Write-Host "Creating release: $version"

          $headers = @{
            "Authorization" = "token $(GITHUB_PAT)"
            "Accept" = "application/vnd.github.v3+json"
          }

          try {
            $existingRelease = Invoke-RestMethod `
              -Uri "https://api.github.com/repos/$(GITHUB_REPO)/releases/tags/$version" `
              -Headers $headers -Method Get

            Invoke-RestMethod `
              -Uri "https://api.github.com/repos/$(GITHUB_REPO)/releases/$($existingRelease.id)" `
              -Headers $headers -Method Delete
          } catch {}

          $releaseBody = @{
            tag_name = $version
            target_commitish = "main"
            name = "Release $version"
            body = "Automated release from Azure DevOps build $(Build.BuildId)"
            draft = $false
            prerelease = $false
          } | ConvertTo-Json

          $release = Invoke-RestMethod `
            -Uri "https://api.github.com/repos/$(GITHUB_REPO)/releases" `
            -Headers $headers -Method Post `
            -Body $releaseBody `
            -ContentType "application/json"

          $uploadUrl = $release.upload_url -replace '\{\?name,label\}', ''
          $uploadHeaders = @{
            "Authorization" = "token $(GITHUB_PAT)"
            "Content-Type" = "application/octet-stream"
          }

          $uploadUri = "$uploadUrl`?name=$([Uri]::EscapeDataString($msiName))"
          Invoke-RestMethod -Uri $uploadUri -Headers $uploadHeaders -Method Post -InFile $msiFile.FullName
