trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'windows-latest'

variables:
  buildPlatform: 'x64'
  solution: 'Rhino.Inside.AutoCAD.sln'
  GITHUB_REPO: 'mcneel/rhino.inside-autocad'
  # We define a common NoWarn list to keep things clean
  commonNoWarn: 'CS8600,CS8601,CS8602,CS8603,CS8604,CS8618,CS8625,CS1591,CS1570,CS1574,MSB3270,NU1608,CS0168'

stages:
- stage: Build
  displayName: 'Build and Release'
  jobs:
  - job: Build
    displayName: 'Build'
    steps:
    - task: NuGetToolInstaller@1
      displayName: 'Install NuGet 6.11'
      inputs:
        versionSpec: '6.11.x'

    - task: UseDotNet@2
      displayName: 'Install .NET SDK 8.x'
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    # 1. Restore the solution once using the tool that understands WiX v6
    - task: DotNetCoreCLI@2
      displayName: 'Restore Solution'
      inputs:
        command: 'restore'
        projects: '$(solution)'

    # 2. Build the Net48 projects. 
    # We set BuildInstaller=false so it doesn't try to make the MSI yet.
    - task: VSBuild@1
      displayName: 'Build Solution (Release - net48)'
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: 'Release'
        msbuildArchitecture: 'x64'
        msbuildArgs: '/m /restore /p:BuildInstaller=false /p:NoWarn="$(commonNoWarn)"'

    # 3. Build the Net8 projects AND the Installer.
    # The installer will now find the net48 files it needs in the bin folders.
    - task: VSBuild@1
      displayName: 'Build Solution (ReleaseNET8 + Installer)'
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: 'ReleaseNET8'
        msbuildArchitecture: 'x64'
        msbuildArgs: '/m /p:NoWarn="$(commonNoWarn)"'

    # 4. Copy and Publish the MSI
    - task: CopyFiles@2
      displayName: 'Copy MSI to Staging'
      inputs:
        # Note: WiX v6 usually puts the MSI in the ReleaseNET8 folder if that's the active config
        SourceFolder: 'src/Rhino.Inside.AutoCAD.Installer/bin/x64/ReleaseNET8/en-US'
        Contents: '**.msi'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        flattenFolders: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish MSI Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'installer'

    # 5. GitHub Release Logic
    - task: PowerShell@2
      displayName: 'Create GitHub Release'
      inputs:
        targetType: 'inline'
        script: |
          $msiFile = Get-ChildItem "$(Build.ArtifactStagingDirectory)/*.msi" | Select-Object -First 1
          if (-not $msiFile) { throw "MSI file not found in staging directory!" }
          $msiName = $msiFile.Name
          
          if ($msiName -match 'V(\d+\.\d+\.\d+)') {
            $version = "v$($Matches[1])"
          } else {
            $version = "v$(Get-Date -Format 'yyyy.MM.dd')-build$(Build.BuildId)"
          }
          
          $headers = @{
            "Authorization" = "token $(GITHUB_PAT)"
            "Accept" = "application/vnd.github.v3+json"
          }
          
          # Use "master" to match your trigger branch
          $releaseBody = @{
            tag_name = $version
            target_commitish = "master" 
            name = "Release $version"
            body = "Automated release from Azure DevOps build $(Build.BuildId)"
            draft = $false
            prerelease = $false
          } | ConvertTo-Json
          
          $release = Invoke-RestMethod -Uri "https://api.github.com/repos/$(GITHUB_REPO)/releases" -Headers $headers -Method Post -Body $releaseBody -ContentType "application/json"
          $uploadUrl = $release.upload_url -replace '\{\?name,label\}', ''
          $uploadUri = "$uploadUrl`?name=$([Uri]::EscapeDataString($msiName))"
          
          Invoke-RestMethod -Uri $uploadUri -Headers @{ "Authorization" = "token $(GITHUB_PAT)"; "Content-Type" = "application/octet-stream" } -Method Post -InFile $msiFile.FullName