trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'windows-latest'

variables:
  buildPlatform: 'x64'
  solution: 'Rhino.Inside.AutoCAD.sln'
  GITHUB_REPO: 'mcneel/rhino.inside-autocad'
  commonNoWarn: 'CS8600;CS8601;CS8602;CS8603;CS8604;CS8618;CS8625;CS1591;CS1570;CS1574;MSB3270;NU1608;CS0168;CS0108;CS8766'

stages:
- stage: Build
  displayName: 'Build and Release'
  jobs:
  - job: Build
    displayName: 'Build'
    steps:
    - task: NuGetToolInstaller@1
      displayName: 'Install NuGet'
      inputs:
        versionSpec: '6.11.x'

    - task: UseDotNet@2
      displayName: 'Install .NET SDK 8.x'
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    - task: DotNetCoreCLI@2
      displayName: 'Restore Solution'
      inputs:
        command: 'restore'
        projects: '$(solution)'

    # 1. BUILD NET48 PROJECTS ONLY
    - task: DotNetCoreCLI@2
      displayName: 'Build Code (Release - net48)'
      inputs:
        command: 'build'
        projects: |
          src/Rhino.Inside.AutoCAD.Core/Rhino.Inside.AutoCAD.Core.csproj
          src/Rhino.Inside.AutoCAD.Interop/Rhino.Inside.AutoCAD.Interop.csproj
          src/Rhino.Inside.AutoCAD.Services/Rhino.Inside.AutoCAD.Services.csproj
          src/Rhino.Inside.AutoCAD.UI.Resources/Rhino.Inside.AutoCAD.UI.Resources.csproj
          src/Rhino.Inside.AutoCAD.GrasshopperLibrary/Rhino.Inside.AutoCAD.GrasshopperLibrary.csproj
        arguments: '--configuration Release -p:Platform=x64 --no-restore "-p:NoWarn=$(commonNoWarn)"'

    # 2. STAGE FILES FOR WIX
    - task: PowerShell@2
      displayName: 'Stage Files for Installer'
      inputs:
        targetType: 'inline'
        script: |
          $version = "1.0.6"
          $stagePath = "D:\a\1\s\Deployment\OutputFiles\Rhino.Inside.AutoCAD.$version"
          
          # Create Directory Structure
          New-Item -ItemType Directory -Force -Path "$stagePath\Icons\Large512"
          New-Item -ItemType Directory -Force -Path "$stagePath\Icons\Small32"
          New-Item -ItemType Directory -Force -Path "$stagePath\Toolbar"
          New-Item -ItemType Directory -Force -Path "$stagePath\$version\Win64\NET48"
          New-Item -ItemType Directory -Force -Path "$stagePath\$version\Win64\NET8"

          # Copy Assets from your Installer project folder to the staging folder
          Copy-Item "src/Rhino.Inside.AutoCAD.Installer/Icons/*" "$stagePath\Icons\" -Recurse -Force -ErrorAction SilentlyContinue
          Copy-Item "src/Rhino.Inside.AutoCAD.Installer/Toolbar/RhinoInsideAutocad_Toolbar.cuix" "$stagePath\Toolbar\" -Force -ErrorAction SilentlyContinue
          Copy-Item "src/Rhino.Inside.AutoCAD.Installer/PackageContents.xml" "$stagePath\" -Force

          # Copy the Net48 DLLs we just built into the staging folder
          Copy-Item "src/Rhino.Inside.AutoCAD.GrasshopperLibrary/bin/x64/Release/net48/*.dll" "$stagePath\$version\Win64\NET48\" -Force
          
          Write-Host "Staging for $version complete."

    # 3. BUILD NET8 AND INSTALLER
    - task: VSBuild@1
      displayName: 'Build Solution (ReleaseNET8 + Installer)'
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: 'ReleaseNET8'
        msbuildArchitecture: 'x64'
        msbuildArgs: '/m /restore "-p:NoWarn=$(commonNoWarn)"'

    # 4. PUBLISH MSI
    - task: CopyFiles@2
      displayName: 'Copy MSI to Staging'
      inputs:
        SourceFolder: 'src/Rhino.Inside.AutoCAD.Installer/bin/x64/ReleaseNET8/en-US'
        Contents: '**.msi'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        flattenFolders: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish MSI Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'installer'

    # 5. GITHUB RELEASE
    - task: PowerShell@2
      displayName: 'Create GitHub Release'
      inputs:
        targetType: 'inline'
        script: |
          $msiFile = Get-ChildItem "$(Build.ArtifactStagingDirectory)/*.msi" | Select-Object -First 1
          if (-not $msiFile) { throw "MSI not found!" }
          $msiName = $msiFile.Name
          
          if ($msiName -match 'V(\d+\.\d+\.\d+)') { $version = "v$($Matches[1])" } 
          else { $version = "v$(Get-Date -Format 'yyyy.MM.dd')-b$(Build.BuildId)" }
          
          $headers = @{"Authorization" = "token $(GITHUB_PAT)"; "Accept" = "application/vnd.github.v3+json"}
          $releaseBody = @{
            tag_name = $version
            target_commitish = "master"
            name = "Release $version"
            body = "Automated build $(Build.BuildId)"
          } | ConvertTo-Json
          
          $release = Invoke-RestMethod -Uri "https://api.github.com/repos/$(GITHUB_REPO)/releases" -Headers $headers -Method Post -Body $releaseBody -ContentType "application/json"
          $uploadUri = ($release.upload_url -replace '\{\?name,label\}', '') + "?name=$([Uri]::EscapeDataString($msiName))"
          
          Invoke-RestMethod -Uri $uploadUri -Headers @{"Authorization" = "token $(GITHUB_PAT)"; "Content-Type" = "application/octet-stream"} -Method Post -InFile $msiFile.FullName